<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Active Customers</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/customers.css') }}">
</head>
<body>
    <h1>Customers</h1>

    {% if customers %}
        <table>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>GST</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Billing Address</th>
                <th>Shipping Address</th>
                <th>Actions</th>
            </tr>
            {% for customer in customers %}
            <tr>
                <td>{{ customer[0] }}</td>
                <td>{{ customer[1] }}</td>
                <td>{{ customer[2] }}</td>
                <td>{{ customer[3] }}</td>
                <td>{{ customer[4] }}</td>
                <td>{{ customer[5] }}</td>
                <td>{{ customer[6] }}</td>
                <td><a href="{{ url_for('edit_customer', id=customer[0]) }}" class="btn">Edit</a></td>
            </tr>
            {% endfor %}
        </table>
        <a href="{{ url_for('add_customer') }}" class="btn">Add New Customer</a>
    
    {% endif %}
    <a href="{{ url_for('add_customer') }}" class="btn">Add New Customer</a>
    <a href="{{ url_for('dashboard') }}" class="btn2">Back to Dashboard</a>
    
    <div class="relative-container">
        
    </div>
</body>
</html>
